body {
    background: rgb(29, 29, 29);
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 16px;
    font-weight: normal;
    color: #ffffff;
}

/* navcolor */
#header nav a,
#header i {
    color: #111;
}

/* Banner */
#banner {
    background: url("../images/banner-images/bannerimage2.png") no-repeat center top;
    background-size: cover;
}

#banner h1 {
    font-size: 62px;
    line-height: 60px;
    font-weight: 800;
    color: #111;
}

#banner h2 {
    font-size: 20px;
    font-weight: 600;
    color: #111;
}


/* Title/Subtitles */
.section-title {
    font-size: 34px;
    font-weight: 700;
    color: #ffc3c3;
}

.section-subtitle {
    font-size: 16px;
    color: #dadada;
}

/*(h1-h6) */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    color: #919191;
}

h1 { font-size: 40px; font-weight: 300; }
h2 { font-size: 34px; font-weight: 300; }
h3 { font-size: 30px; font-weight: 700; }
h4 { font-size: 18px; font-weight: 400; }
h5 { font-size: 16px; font-weight: 400; }
h6 { font-size: 14px; font-weight: 400; }

/*Footer Styles*/
#landing-footer,
#landing-footer p,
#landing-footer a {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 12px;
    font-weight: normal;
    color: #ffd4d4;
}