/*tech*/
.garage {
    padding: 15px;
}

.garage img {
    max-height: 620px;
    max-width: 100%;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
}

.garage footer {
    padding-top: 12px;
}

.garage.classic q {
    display: block;
}

.garage.classic footer:before {
    content: "";
    display: block;
    width: 30px;
    height: 4px;
    margin: 10px auto 15px;
}